{% extends 'layout.html' %}

{% block title %} <h2> About Us </h2> {% endblock %}

{% block body %}

<img src='static/img/stockpred_fh.jpg' width="100%">

<h4>THEME - FINANCE AND TECHNOLOGY </h4>
<h4>SOCIAL PROBLEM WE ARE WORKING ON </h4>
<p>
    
While talking to our peers and acquaintances, one issue we’ve always seen is that people want to invest and diversify their portfolio, but do not know where to start. Understanding the stock market and its ups and down is not very easy. Our app aims to help beginners in understanding the market and also suggests the stocks in which they can invest in. We want to assist people from all backgrounds in investing wisely. 
</p>
<h4>BRIEF DESCRIPTION </h4>
<p>

With the help of ML models, we predict the future price of stocks in regular time intervals, and on that basis, suggest a portfolio of stocks to invest in, given the users requirements.
We load data using libraries such as investpy, and run our models on it. On that basis, we suggest the best stocks to invest in. The information that we use is mainly based on historical data of the stock, and the volume of it. The user interface is made using Flask, and it emphasizes user friendliness. 
</p>

{% endblock %}
